name: Custom Workflow

on:
  push:
    branches: [ "main" ] 
jobs:
  custom-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install and Test
        run: |
          cd sample-app
          npm install
          npm test